<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <div data-th-replace="/fragments/header :: header-css"/>
</head>
<body>
<h1>add something </h1>

<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div data-th-replace="/fragments/forms :: addArticleForm"></div>
            </div>
        </div>
    </div>
</div>
<!--footer-->
<!--<div  data-th-replace="/fragments/footer :: footer"/>-->
<div  data-th-replace="footer2 :: footer"/>
</body>
</html>